@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;

@use "sass:math";

.activity-modifiers {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: var.$gap;
  margin: 0 var.$gap var.$gap var.$gap;

  > * {
    flex: 1 1 auto;
  }

  .heading {
    width: 100%;
  }

  .other-modifiers {
    width: 100%;

    > .heading {
      @include mixin.border-bottom;

      margin-bottom: 0.5rem;
    }

    .modifiers {
      @include mixin.grid-display;
    }
  }
}
