@use "../../sass/variables" as var;

.ActivityModifier {
  display: flex;
  flex-flow: row;
  text-align: left;
  gap: 0.5em;
  width: fit-content;
  .icon {
    margin: 0.25em 0;
    height: 2.5em;
    width: auto;
    max-width: 60px;
    max-height: 60px;
  }
  .description {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    height: max-content;
    .heading {
      &.Arc {
        color: var.$arc;
      }
      &.Solar {
        color: var.$solar;
      }
      &.Void {
        color: var.$void;
      }
      &.Stasis {
        color: var.$stasis;
      }
    }
  }
}
