@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;
@use "../../sass/functions" as fun;
@use "sass:math";

.activity {
  &.success {
    width: var.$main-width + var.$margins;
  }

  display: flex;
  flex-flow: column;
  gap: 1rem;

  > .activity-difficulty {
    margin: 0 0 math.div(var.$gap, 2) 0;
    padding: calc(0.2em + math.div(var.$gap, 2)) var.$gap;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    background: fun.primary-fg(0.2);
    border-bottom: 1pt solid fun.primary-fg(0.9);

    &.adept {
      background-color: var.$common;
    }

    &.hero {
      background-color: var.$rare;
    }

    &.legend {
      background-color: var.$legendary;
    }

    &.master {
      background-color: var.$highlight-dim;
    }

    &.grandmaster {
      background-color: var.$highlight-red;
    }
  }
}
