@mixin flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: safe center;
  justify-content: safe center;
}

@mixin flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: safe center;
  justify-content: safe center;
}

@mixin flex-column {
  display: flex;
  flex-flow: column;
  justify-content: safe center;
  align-items: safe center;
}