@use "./functions" as fun;

$margins: 2rem;
$gap: 1rem;
$pad: 0.5rem;
$main-width: 80rem;
$border-radius: 0.25rem;
$primary-fg: fun.primary-fg(1);
$primary-bg: fun.primary-bg(1);
$header-fg: fun.header-fg(1);
$header-bg: fun.header-bg(1);
$footer-bg: fun.footer-bg(1);
$navigation-bg: fun.navigation-bg(1);
$navigation-fg: fun.navigation-fg(1);
$heading-fg: fun.heading-fg(1);
$highlight-dim: fun.highlight-dim(1);
$highlight-mid: fun.highlight-mid(1);
$highlight-bright: fun.highlight-bright(1);
$highlight-red: fun.highlight-red(1);
$highlight-green-dim: fun.highlight-green-dim(1);
$highlight-green-bright: fun.highlight-green-bright(1);
$arc: fun.arc(1);
$solar: fun.solar(1);
$void: fun.void(1);
$stasis: fun.stasis(1);
$legendary: fun.legendary(1);
$exotic: fun.exotic(1);
$border-expansion: 0.25rem;
$thin-border: 1pt solid currentColor;
$box-shadow: 0 0 10px rgb(0 0 0 / 50%);
$line-height: 1.5;
$primary-font-stack: neue-haas-grotesk-display, neue-haas-grotesk-text, arial,
  -apple-system, blinkmacsystemfont, sans-serif, apple color emoji,
  segoe ui emoji, segoe ui symbol;
$secondary-font-stack: arial, -apple-system, blinkmacsystemfont, sans-serif,
  apple color emoji, segoe ui emoji, segoe ui symbol;
$transition: 0.25s;
