@import url("//use.typekit.net/zkr4osd.css");

$margins: 2rem;
$gap: 1rem;
$pad: 0.5rem;
$main-width: 60rem;
$border-radius: 0.25rem;
$primary-fg: #f5f5f5;
$primary-bg: #04040e;
$header-fg: #f1f1f1;
$header-bg: #12171c;
$footer-bg: #14191e;
$navigation-bg: #41403d;
$navigation-fg: #fff;
$highlight-dim: #9f7d2a;
$highlight-mid: #b78c25;
$highlight-bright: #ffce1f;
$highlight-red: #613234;
$arc: #79ebf3;
$solar: #f36f26;
$void: #996eb5;
$stasis: #406ad4;
$legendary: #4e3263;
$exotic: #cdad34;
$border-expansion: 0.25rem;
$box-shadow: 0 0 10px rgb(0 0 0 / 50%);
$line-height: 1.5;
$primary-font-stack: neue-haas-grotesk-display, neue-haas-grotesk-text, arial,
  -apple-system, blinkmacsystemfont, sans-serif, apple color emoji,
  segoe ui emoji, segoe ui symbol;
$secondary-font-stack: arial, -apple-system, blinkmacsystemfont, sans-serif,
  apple color emoji, segoe ui emoji, segoe ui symbol;
$transition: 0.25s;
