{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss"
  ],
  "rules": {
    "font-family-no-missing-generic-family-keyword": [
      true,
      {
        "ignoreFontFamilies": "Destiny_Keys"
      }
    ],
    "value-keyword-case": ["lower", { "camelCaseSvgKeywords": true }]
  }
}
