@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;

.TimerCard {
  text-align: center;

  .card .content {
    .title,
    .short_description {
      justify-content: center;
      width: 100%;
      text-align: center;
    }
  }

  &.ongoing {
    .content {
      background: var.$highlight-dim;
    }

    border-color: var.$highlight-bright;

    &.maintenance .content {
      background: var.$highlight-red;
    }

    &:hover .content,
    &:focus .content,
    &:active .content {
      background: var.$highlight-mid;
    }
  }
}

.card-modal {
  .content {
    .cardText {
      .title {
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-bottom: 0.5em;
      }

      .long_description {
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        gap: 1em;

        h3 {
          margin-top: 1em;
          order: -1;
        }

        ul {
          text-align: left;
          margin-top: 0;
          margin-bottom: 0;
        }

        p {
          ul {
            text-align: left;
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
