@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;

.TimerCard {
  text-align: center;
  .Card .content {
    .title,
    .short_description {
      width: 100%;
      text-align: center;
    }
  }
  &.ongoing {
    .content {
      background: var.$highlight-dim;
    }
    border-color: var.$highlight-bright;
    &.maintenance .content {
      background: var.$highlight-red;
    }
    &:hover .content,
    &:focus .content,
    &:active .content {
      background: var.$highlight-mid;
    }
  }
}
