@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;
@use "sass:math";

.LostSector {
  min-width: fit-content;
  width: 100%;
  
  display: flex;
  flex-flow: column;

  .Legend,
  .Master {
    > .Heading {
      margin: var.$gap 0 math.div(var.$gap, 2) 0;
      padding: math.div(var.$gap, 2) var.$gap;

      justify-content: flex-start;
    }
  }
  .Legend > .Heading {
      background-color: var.$legendary;
  }
  .Master > .Heading {
      background-color: var.$highlight-dim;
  }
}