@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;

.CardWrapper {
  width: auto;
  max-width: 100%;
  .Card {
    max-width: 100%;
    margin: var.$border-expansion;
    border: 1px solid var.$primary-fg;
    text-align: left;
    color: var.$primary-fg;
    transition: all 0.25s;
    .content {
      padding: 1em;
      transition: all 0.25s;
      .title {
        @include mixin.flex-row-wrap;
        width: fit-content;
        text-align: left;
        .icon {
          line-height: 0;
          font-size: 1.25em;
        }
      }
    }
    &:hover.clickable,
    &:focus.clickable,
    &:active.clickable {
      margin: 0px;
      padding: var.$border-expansion;
      border-color: var.$primary-fg;
    }
    .clickable {
      user-select: none;
      cursor: pointer;
    }
  }
}