.Card {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  flex: 1 1 auto;
  color: inherit;
  border-radius: var(--border-radius);
  max-width: 100%;
  width: auto;
  transition: all 0.25s;
  border: 1px solid var(--primary-fg);
}

.ongoing {
  background: #9f7d2a;
}

.ongoing.maintenance {
  background: #613234;
}

.ongoing:hover,
.ongoing:focus,
.ongoing:active {
  background: #b78c25;
}

.Card h2 {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  font-size: 1.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card p {
  margin: 0;
  font-size: 1rem;
}

.Card .description {
  padding: 0;
  margin: 0;
  padding-top: 0.4375rem;
  font-size: 0.875rem;
  line-height: 1.2;
  text-align: left;
  transition: all 0.15s;
}

.Card .description.collapsed {
  padding: 0;
  margin: 0;
  font-size: 0rem;
  opacity: 0;
}

.Card .description ul {
  margin: 0.4375rem 0 0 0;
  transition: all 0.15s;
}

.Card .description.collapsed ul {
  margin: 0;
}
