@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;

.Card {
  // display: block;
  max-width: 100%;
  margin: var.$border-expansion;
  border: 1px solid var.$primary-fg;
  text-align: left;
  color: var.$primary-fg;
  transition: all 0.25s;
  .content {
    padding: 1em;
    transition: all 0.25s;
    .title {
      width: fit-content;
      text-align: left;
    }
  }
  &:hover,
  &:focus,
  &:active {
    margin: 0px;
    padding: var.$border-expansion;
    border-color: var.$primary-fg;
  }
}