@use "../../sass/variables" as var;
@use "sass:math";

@font-face {
  font-family: "Destiny_Keys";
  src: url("https://cdn.jsdelivr.net/gh/nathanrsxtn/Destiny-2-Font-Symbols@e4cef44cb28f51545e4bc5e7924c97247e4a3c88/fonts/Destiny_Keys.otf");
  font-display: swap;
}

.destiny-icon {
  font-family: "Destiny_Keys";
  font-size: 1em;
  text-transform: uppercase;
  line-height: var.$line-height;
  width: max-content;
  height: min-content;
  display: inline-block;
  cursor: default;

  &.arc {
    color: var.$arc;
  }

  &.solar,
  &.thermal {
    color: var.$solar;
  }

  &.void {
    color: var.$void;
  }

  &.stasis {
    color: var.$stasis;
  }

  > img {
    display: block;
  }
}
