@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;
@use "../../sass/functions" as fun;

.timers-wrapper {
  @include mixin.flex-column;

  gap: var.$margins;

  .timers {
    @include mixin.flex-row-wrap;

    align-items: flex-start;
    gap: fun.px-to-rem(7) fun.px-to-rem(6);

    > * {
      flex: 1 1 auto;
    }
  }

  .links {
    @include mixin.flex-row-wrap;

    margin-inline: auto;
    gap: var.$gap;
    letter-spacing: normal;
  }
}
