@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;
@use "sass:math";

.Header {
  z-index: 100;
  width: 100%;
  padding: math.div(var.$margins, 4) math.div(var.$margins, 2);
  column-gap: var.$margins;
  background-color: var.$header-bg;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: var.$secondary-font-stack;
  text-transform: uppercase;
  @include mixin.flex-row-wrap;
  justify-content: safe center;
  > * {
    @include mixin.flex-row;
    width: max-content;
    max-width: 100%;
  }
  .title {
    flex: 0 0 auto;
    margin: auto;
    color: var.$header-fg;
    font-size: 2rem;
    font-weight: bold;
    .logo {
      color: var.$header-fg;
      min-width: 2rem;
      min-height: 2rem;
    }
  }
  .launch {
    flex: 1 0 auto;
    justify-content: flex-end;
    font-size: 1.125rem;
  }
}