@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;
@use "sass:math";

.Header {
  @include mixin.flex-column;
  width: 100%;
  height: fit-content;
  padding: 0;
  background-color: var.$header-bg;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: var.$secondary-font-stack;
  .title {
    @include mixin.flex-row;
    width: calc(100% - var.$margins);
    margin: 0;
    padding: math.div(var.$margins, 2);
    color: var.$header-fg;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    .logo {
      color: var.$header-fg;
    }
  }
}