.App-header {
  font-family: Arial, -apple-system, BlinkMacSystemFont, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  background-color: #12171c;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  width: calc(100% - var(--margins));
  margin: 0;
  padding: calc(var(--margins) / 2);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
}

.title .logo {
  color: #f1f1f1;
}
