.App-header * {
  font-family: Arial, -apple-system, BlinkMacSystemFont, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.App-header {
  background-color: #12171c;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--margins);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title,
.description {
  text-align: center;
}

.title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
}

.title .logo {
  border-radius: var(--border-radius);
  color: #f1f1f1;
}

.description {
  font-size: 0.875rem;
  color: hsla(0, 0%, 96.1%, 0.75);
}
