@use "../sass/variables" as var;
@use "../sass/mixins" as mixin;
@use "../sass/functions" as fun;
@use "sass:math";

a.card {
  display: block;
}

.card {
  --card-content-opacity: 0.9;

  background: var.$primary-bg;
  border: 1px solid var.$primary-fg;
  color: var.$primary-fg;
  transition: var.$transition;
  align-self: center;
  column-gap: var.$gap;
  padding: 1rem;

  .icon {
    font-size: 4.5rem;
    width: 100%;
    max-width: 4.5rem;
    height: auto;
    max-height: 4.5rem;
    object-fit: scale-down;
    opacity: var(--card-content-opacity);
  }

  &.side-icon {
    display: grid;
    grid-template-columns: 4.5rem 1fr;

    > .icon {
      grid-row: 1 / 99;
      align-self: center;
    }

    .title::after {
      content: "";
      display: block;
      margin-block: calc(0.95rem - 1px) 0.55rem;
      border-bottom: var.$thin-border;
      opacity: var(--card-content-opacity);
    }

    .card-content {
      opacity: var(--card-content-opacity);
    }
  }

  &.floating-icon {
    .icon {
      float: left;
      margin: 0 0.5rem 0 0;
      max-width: 3rem;
      max-height: 3rem;
      opacity: 1;
    }
  }

  &.clickable {
    user-select: none;
    cursor: pointer;
    position: relative;

    > * {
      pointer-events: none;
    }

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      max-width: none;
      inset: fun.px-to-rem(-8);
      border: fun.px-to-rem(2) solid var.$primary-fg;
      opacity: 0;
    }
  }

  &.highlight {
    .card-inner {
      background: var.$highlight-dim;
    }

    border-color: var.$highlight-bright;

    &.red .card-inner {
      background: var.$highlight-red;
    }
  }

  &:hover,
  &:active {
    &.clickable {
      --card-content-opacity: 1;

      border-color: var.$primary-fg;
      background-color: fun.primary-fg(0.2);

      &.highlight {
        background: var.$highlight-mid;
      }

      &::before {
        animation: border-fade math.div(var.$transition, 2) forwards
          math.div(var.$transition, 2);
      }
    }
  }
}

.modal-text {
  padding: var.$margins;
  width: max-content;
}

@keyframes border-fade {
  100% {
    inset: fun.px-to-rem(-5);
    opacity: 0.9;
  }
}
