@use "../sass/variables" as var;
@use "../sass/mixins" as mixin;
@use "sass:math";

.destiny-weapon {
  .destiny-icon {
    cursor: pointer;
  }
}

.modal-inner {
  .weapon-modal {
    background: inherit;

    &.legendary {
      background: var.$legendary;
    }

    &.exotic {
      background: var.$exotic;
    }

    display: flex;
    flex-flow: column;
    width: min-content;

    .weapon-screenshot {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      background-size: cover;
      max-width: 1280px;
      max-height: 720px;

      > .weapon-links {
        --links-background: rgb(0 0 0 / 50%);

        width: fit-content;
        max-width: 100%;
        list-style: none;
        margin: 0;
        padding: var.$gap var.$gap + var.$pad var.$gap + var.$pad var.$gap;
        background-image: linear-gradient(
            0deg,
            var(--links-background) 0%,
            var(--links-background) 100%
          ),
          linear-gradient(
            0deg,
            rgb(0 0 0 / 0%) 0%,
            var(--links-background) 100%
          ),
          radial-gradient(
            farthest-side at top left,
            var(--links-background) 0%,
            rgb(0 0 0 / 0%) 100%
          ),
          linear-gradient(
            -90deg,
            rgb(0 0 0 / 0%) 0%,
            var(--links-background) 100%
          );
        background-size: calc(100% - var.$gap) calc(100% - var.$gap),
          calc(100% - var.$gap) var.$gap, var.$gap var.$gap,
          var.$gap calc(100% - var.$gap);
        background-position: 0 0, bottom left, bottom right, right top;
        background-repeat: no-repeat;

        .site-link {
          @include mixin.flex-row;

          gap: var.$pad;

          > .site-icon {
            height: 1em;
            display: inline-block;
          }
        }
      }
    }

    .weapon-header {
      width: max-content;
      max-width: 100%;
      display: flex;
      flex-flow: row;
      gap: 0.5rem;
      padding-right: 0.5rem;

      > .weapon-icon {
        border: 2px solid var.$primary-fg;
        height: 1.5 * (math.div(36rem, 22) + 1rem);
        aspect-ratio: 1 / 1;
      }

      > .weapon-header-text {
        width: max-content;
        max-width: 100%;

        h3 {
          margin: 0 !important;
          width: max-content;
          max-width: 100%;
        }

        p {
          max-width: 100%;
        }
      }
    }
  }
}
