@use "../sass/variables" as var;
@use "../sass/mixins" as mixin;
@use "sass:math";

.destiny-weapon {
  .destiny-icon {
    cursor: pointer;
  }
}

.modal-inner {
  .weapon-modal {
    background: inherit;

    &.legendary {
      background: var.$legendary;
    }

    &.exotic {
      background: var.$exotic;
    }

    display: flex;
    flex-flow: column;
    width: min-content;

    .weapon-screenshot {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      max-width: 1280px;
      max-height: 720px;
    }

    .weapon-header {
      width: max-content;
      max-width: 100%;
      display: flex;
      flex-flow: row;
      gap: 0.5rem;
      padding-right: 0.5rem;

      > .weapon-icon {
        border: 2px solid var.$primary-fg;
        height: 1.5 * (math.div(36rem, 22) + 1rem);
        aspect-ratio: 1 / 1;
      }

      > .weapon-header-text {
        width: max-content;
        max-width: 100%;

        h3 {
          margin: 0 !important;
          width: max-content;
          max-width: 100%;
        }

        p {
          max-width: 100%;
        }
      }
    }
  }
}
