@use "../sass/variables" as var;
@use "../sass/mixins" as mixin;
@use "sass:math";

.header {
  isolation: isolate;
  width: 100%;
  min-height: 78px;
  padding: math.div(var.$margins, 4) math.div(var.$margins, 2);
  column-gap: var.$margins;
  background-color: var.$header-bg;
  box-shadow: var.$box-shadow;
  font-family: var.$secondary-font-stack;
  text-transform: uppercase;
  @include mixin.flex-row-wrap;

  justify-content: safe center;

  > * {
    @include mixin.flex-row;

    width: max-content;
  }

  .title {
    flex: 0 0 auto;
    margin: auto;
    color: var.$header-fg;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-flow: row;
    gap: 0.75em;

    .logo {
      color: var.$header-fg;
      min-width: 1.25em;
      width: 2em;
      min-height: 1.25em;
      height: 2em;
    }
  }

  .launch {
    font-size: 0.875rem;
    flex: 1 0 auto;
    justify-content: flex-end;
  }
}
