.sk-spinner {
  &.sk-three-bounce {
    display: inline;

    > div {
      height: 0.75em;
      width: 0.75em;
    }
  }
}

.loading {
  --delay: 1s;

  &.no-fade {
    --delay: 0s;
  }

  &::after {
    content: "";
    opacity: 0;
    animation: loading-text 2s steps(4) var(--delay) infinite,
      fade 0.25s var(--delay) forwards;
  }

  &.page {
    min-width: 6.3em;
  }

  &.section {
    min-width: 10.3em;
  }

  > .sk-spinner {
    width: 1em;
    height: 1em;
  }
}

@keyframes loading-text {
  0% {
    content: "Loading";
  }

  25% {
    content: "Loading.";
  }

  50% {
    content: "Loading..";
  }

  75% {
    content: "Loading...";
  }

  100% {
    content: "Loading";
  }
}
