@use "../sass/variables" as var;
@use "../sass/mixins" as mixin;
@use "sass:math";

.lost-sector {
  &.success {
    width: var.$main-width + var.$margins;
  }

  max-width: 100%;
  @include mixin.flex-column;

  align-items: stretch;
  gap: var.$gap;

  .legend-difficulty,
  .master-difficulty {
    > .heading {
      margin: 0 0 math.div(var.$gap, 2) 0;
      padding: calc(0.2em + math.div(var.$gap, 2)) var.$gap;
      justify-content: flex-start;
      width: 100%;
    }
  }

  .legend-difficulty > .heading {
    background-color: var.$legendary;
  }

  .master-difficulty > .heading {
    background-color: var.$highlight-dim;
  }

  .loading,
  .error {
    margin: var.$margins;
    display: flex;
    flex-flow: row wrap;
    gap: var.$gap;
  }
}
