/* stylelint-disable selector-class-pattern */
@use "../sass/variables" as var;
@use "../sass/mixins" as mixin;
@use "sass:math";

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.ReactModalPortal {
  > .modal-overlay {
    opacity: 0;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 71%);
    padding: var.$margins;
    display: grid;
    justify-content: safe center;
    align-items: safe center;

    &.ReactModal__Overlay--after-open {
      animation: fade var.$transition forwards;
    }

    &.ReactModal__Overlay--before-close {
      animation: fade math.div(var.$transition, 2) reverse;
    }

    > .modal {
      position: relative;
      max-height: 100%;
      background: var.$primary-bg;
      border: 1px solid var.$primary-fg;
      transition-duration: var.$transition;
      transition-property: width, height;
      animation: anvil 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);

      > .destiny-icon.close {
        margin: auto;
        padding: 0;
        line-height: math.div(40.25, 32);
        position: absolute;
        top: -0.7rem;
        right: -0.7rem;
        cursor: pointer;
        font-size: 2rem;
        width: math.div(40.25rem, 16);
        height: math.div(40.25rem, 16);
        z-index: 2000;
        background: radial-gradient(
          circle closest-side at center,
          var.$primary-bg 75%,
          rgb(0 0 0 / 0%) 75%
        );
      }

      > .background {
        opacity: 0.25;
        position: absolute;
        right: var.$pad;
        bottom: var.$pad;
        max-width: 66%;
        max-height: 66%;
      }

      > .modal-scroll {
        max-height: calc(100vh - 2 * var.$margins - 2px);
        max-height: calc(var(--vh) - 2 * var.$margins - 2px);
        overflow-x: hidden;

        .modal-inner {
          width: fit-content;
          max-width: calc(100vw - 2 * var.$margins - 2px);

          > * {
            max-width: calc(100vw - 2 * var.$margins - 2px);
          }
        }
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes anvil {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
    transform: scale(0.96) translateY(10px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
