@use "../sass/variables" as var;
@use "../sass/mixins" as mixin;
@use "sass:math";

#navigation {
  width: 100%;
  color: var.$navigation-fg;
  background: var.$navigation-bg;
  text-align: center;
  line-height: 2 * var.$line-height;
  font-size: 1.067rem;
  text-transform: uppercase;

  > ul {
    @include mixin.flex-row-wrap;

    justify-content: safe center;
    list-style: none;
    margin-block: 0;
    padding-left: 0;

    > li > .navigation-link {
      @include mixin.flex-column;

      padding: 3px 1.25em;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -1px;
        right: -1px;
        max-width: none;
        transform: scaleX(0);
        height: 3px;
        background: var.$highlight-mid;
        transition: transform var.$transition;
      }

      &:hover,
      &:focus,
      &:active,
      &.active {
        color: var.$navigation-fg;

        &::after {
          transform: scaleX(1);
          transition: transform var.$transition;
        }
      }
    }
  }
}
