@use "../sass/variables" as var;
@use "../sass/mixins" as mixin;

.navigation {
  width: 100%;
  @include mixin.flex-row-wrap;

  justify-content: safe center;
  color: var.$navigation-fg;
  background: var.$navigation-bg;
  text-transform: uppercase;
  text-align: center;
  line-height: 2 * var.$line-height;
  font-size: 1.067rem;

  .navigation-link {
    width: min-content;
    @include mixin.flex-column;

    .name {
      width: max-content;
      padding: 3px 1.25em 0;
    }

    .underline {
      width: 0;
      height: 3px;
      background: var.$highlight-mid;
      transition: var.$transition;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: var.$navigation-fg;
      text-decoration: none;
      transition: var.$transition;

      .underline {
        width: 100%;
        background: var.$highlight-mid;
        transition: var.$transition;
      }
    }
  }
}
