@use "../sass/variables" as var;
@use "../sass/mixins" as mixin;

.popper {
  background: var.$footer-bg;
  padding: var.$pad var.$gap;
  box-shadow: var.$box-shadow;
  animation: tooltip-fade var.$transition forwards;
  opacity: 0;
  max-width: 100vw;
  z-index: 99;

  @include mixin.header-tooltip;

  .popper-arrow {
    &,
    &::before {
      position: absolute;
      width: var.$pad;
      height: var.$pad;
      background: inherit;
    }

    box-shadow: var.$box-shadow;
    visibility: hidden;

    &::before {
      visibility: visible;
      content: "";
      transform: rotate(45deg);
    }
  }

  &[data-popper-placement^="top"] > .popper-arrow {
    bottom: -4px;
  }

  &[data-popper-placement^="bottom"] > .popper-arrow {
    top: -4px;
  }

  &[data-popper-placement^="left"] > .popper-arrow {
    right: -4px;
  }

  &[data-popper-placement^="right"] > .popper-arrow {
    left: -4px;
  }
}

@keyframes tooltip-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.95;
  }
}
