@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;
@use "sass:math";

.Footer {
  @include mixin.flex-column;
  align-items: stretch;
  max-width: 100%;
  font-family: var.$secondary-font-stack;
  font-size: 0.875rem;
  .credits {
    @include mixin.flex-row-wrap;
    max-width: 100%;
    padding: math.div(var.$margins, 4);
    color: var.$primary-fg;
    background: var.$footer-bg;
    > div {
      @include mixin.flex-row;
      padding: math.div(var.$margins, 8);
      margin: math.div(var.$margins, 8) var.$margins;
      border-radius: var.$border-radius;
    }
  }
  a {
    @include mixin.flex-row;
  }
}

.avatar {
  margin: 0;
  line-height: 1;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  overflow: hidden;
}
