@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;
@use "../../sass/functions" as fun;

.links-page {
  @include mixin.flex-column;

  .links {
    @include mixin.grid-reading;

    gap: fun.px-to-rem(7) fun.px-to-rem(6);

    .link {
      height: fit-content;

      .icon {
        border-radius: 0.25rem;
      }
    }
  }
}
