@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;
@use "sass:math";

.ItemizedPage {
  width: 100%;
  max-width: 1080px + 360px;
  .Masonry {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var.$margins;
    .masonryColumn {
      // max-width: 360px;
      .CardWrapper {
        @include mixin.flex-column;
        align-items: stretch;
        width: 100%;
        margin-bottom: var.$margins;
        transition: var.$transition;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}