@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;
@use "sass:math";

.itemized-page {
  width: 100%;
  max-width: 1080px + 360px;

  .masonry {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var.$margins;

    .masonry-column {
      .card-wrapper {
        @include mixin.flex-column;

        align-items: stretch;
        width: 100%;
        margin-bottom: var.$margins;
        transition: var.$transition;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
