@use "./sass/variables" as var;
@use "./sass/mixins" as mixin;
@use "sass:math";

#root {
  font-family: var.$primary-font-stack;
  background: var.$primary-bg;
  color: var.$primary-fg;

  @include mixin.flex-column;

  align-items: stretch;
  width: 100%;
  height: 100vh;

  > * {
    flex-shrink: 0;
  }

  .main {
    flex: 1;
    @include mixin.flex-column;

    justify-content: flex-start;
    padding: var.$margins math.div(var.$margins, 2);
  }
}
