@use "./sass/variables" as var;
@use "./sass/mixins" as mixin;
@use "sass:math";

:root {
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var.$primary-bg;
  color: var.$primary-fg;
  font-family: var.$primary-font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
  padding-block: 0.2em;
}

h1 {
  @include mixin.header-subscreen;
}

h2 {
  @include mixin.header-tracked;
}

h3 {
  @include mixin.header-tooltip;
}

h4 {
  @include mixin.text-bold-subtitle;
}

h5 {
  @include mixin.text-subtitle;
}

h6 {
  @include mixin.header;
}

p {
  width: clamp(45ch, fit-content(), 75ch);
  hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

.a-link,
a {
  text-decoration: none;
  transition: all math.div(var.$transition, 2);

  &:hover,
  &:active {
    text-decoration: none;
  }

  cursor: pointer;

  &:not(.card):not(.button) {
    color: var.$navigation-fg;

    &:hover,
    &:active {
      color: #bcbdbf;
    }
  }
}

.simplebar-track {
  &:has(> .simplebar-visible) {
    border-left: 1px solid var.$primary-fg;
  }

  .simplebar-scrollbar {
    &::before {
      background-color: var.$primary-fg;
      border-radius: 0;
    }

    &.simplebar-visible {
      &::before {
        opacity: 0.9;
      }
    }
  }
}

#root {
  @include mixin.text-body;

  width: 100%;

  .root-scroll {
    max-height: 100vh;
    max-height: var(--vh);

    .simplebar-content {
      > .app {
        @include mixin.flex-column;

        align-items: stretch;
        height: 100vh;
        height: var(--vh);

        > * {
          flex-shrink: 0;
        }

        > .main {
          position: relative;
          flex: 1;
          width: clamp(80%, var.$main-width, 100%);
          margin-inline: auto;
          @include mixin.flex-column;

          padding: var.$margins var.$gap;
          transition: all var.$transition * 4;
        }
      }
    }
  }
}
