@use "./sass/variables" as var;
@use "./sass/mixins" as mixin;

@use "sass:math";

@import-normalize;

:root {
  --margins: 36px;
  --main-width: 960px;
  --border-radius: 0;
  --primary-fg: #f5f5f5;
  --primary-bg: #04040e;

  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img[src$=".gif"],
img[src$=".png"] {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  image-rendering: -webkit-optimize-contrast;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
figure {
  margin: 0;
  padding: 0;
}

p {
  width: clamp(45ch, fit-content(), 75ch);
  max-width: 100%;
}

.a-link,
a {
  text-decoration: none;
  transition: all math.div(var.$transition, 2);

  &:hover,
  &:active {
    text-decoration: none;
  }

  cursor: pointer;

  &:not(.card) {
    color: var.$navigation-fg;

    &:hover,
    &:active {
      color: #bcbdbf;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: max-content;
  max-width: 100%;
}

h1 {
  @include mixin.header-subscreen;
}

h2 {
  @include mixin.header-tracked;
}

h3 {
  @include mixin.header-tooltip;
}

h4 {
  @include mixin.text-bold-subtitle;
}

h5 {
  @include mixin.text-subtitle;
}

h6 {
  @include mixin.header;
}

body {
  overflow: hidden;
  @include mixin.text-body;

  font-family: var.$secondary-font-stack;
  line-height: var.$line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var.$header-bg;
  color: var.$header-fg;

  .sk-spinner {
    color: inherit;

    &.sk-three-bounce {
      display: inline;
      opacity: 0.5;

      > div {
        height: 0.75em;
        width: 0.75em;
      }
    }
  }

  .root-scroll {
    max-height: 100vh;
  }

  .simplebar-track {
    &:has(> .simplebar-visible) {
      border-left: 1px solid var.$primary-fg;
    }

    .simplebar-scrollbar {
      &::before {
        background-color: var.$primary-fg;
        border-radius: 0;
      }

      &.simplebar-visible {
        &::before {
          opacity: 0.9;
        }
      }
    }
  }
}
