@use "./sass/variables" as var;
@use "./sass/mixins" as mixin;
@use "sass:math";
@import-normalize;
@import url(//fonts.cdnfonts.com/css/neue-haas-grotesk-text-pro);

:root {
  font-size: 100%;
  --margins: 36px;
  --main-width: 960px;
  --border-radius: 0px;
  --primary-fg: #f5f5f5;
  --primary-bg: #04040e;
}

body {
  margin: 0;
  font-family: var.$primary-font-stack;
  font-weight: 400;
  line-height: var.$line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var.$primary-bg;
  color: var.$primary-fg;
  text-rendering: optimizeLegibility;
}

a {
  color: var.$navigation-fg;
  text-decoration: none;
  transition: math.div(var.$transition, 2);
}

a:hover,
a:focus,
a:active {
  color: #bcbdbf;
  text-decoration: none;
}

h2 {
  @include mixin.flex-row;
  margin: 0;
  font-size: 1.067em;
  text-transform: uppercase;
}

h3 {
  @include mixin.flex-row;
  margin: 0;
  font-size: 0.933em;
  text-transform: uppercase;
}

p {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
