:root {
  font-size: 125%;
  --margins: 36px;
  --main-width: 960px;
  --border-radius: 3px;
  --primary-fg: #f5f5f5;
  --primary-bg: #04040e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-bg);
  color: var(--primary-fg);
}

a {
  color: var(--primary-fg);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #bcbdbf;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
