@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;
@use "sass:math";

.footer {
  @include mixin.flex-column;

  align-items: stretch;
  font-family: var.$secondary-font-stack;
  font-size: 0.875rem;
  letter-spacing: normal;

  .credits {
    @include mixin.flex-row-wrap;

    justify-content: safe center;
    row-gap: math.div(var.$margins, 4);
    column-gap: 3em;
    min-height: 4em;
    padding: math.div(var.$margins, 3);
    color: var.$primary-fg;
    background: var.$footer-bg;

    > div {
      @include mixin.flex-row;

      border-radius: var.$border-radius;
    }
  }

  a {
    @include mixin.flex-row;
  }
}

.avatar {
  margin: 0;
  line-height: 1;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  overflow: hidden;
}
