@use "../../sass/variables" as var;
@use "../../sass/mixins" as mixin;
@use "sass:math";

.ReactTooltip {
  @include mixin.reset;
  opacity: 1 !important;
  border-radius: 0 !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  > * {
    transition: all math.div(var.$transition, 2);
  }
  &:not(.show) {
    opacity: 0 !important;
    > * {
      opacity: 0 !important;
    }
  }

  .WeaponTooltip {
    @include mixin.reset;
    background: inherit;

    display: flex;
    flex-flow: column;

    width: min-content;

    .WeaponScreenshot {
      width: 100%;
      max-width: 1280px;
      max-height: 720px;
    }

    .WeaponHeader {
      display: flex;
      flex-flow: row;
      gap: 0.5rem;
      padding-right: 0.5rem;

      .WeaponIcon {
        border: 2px solid var.$primary-fg;
        height: 1.5 * (math.div(36rem, 22) + 1rem);
        aspect-ratio: 1 / 1;
      }
      h3 {
        margin: 0 !important;
        width: max-content;
      }
      p {
        width: max-content;
      }
    }
  }
}
